@model ECommerce.Models.Search

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="jumbotron">
        <h1>E-Comm!</h1>
        <p class="lead">
            By creating an account with E-Comm you will be opening up a world of trading, shopping and financial opportunity.
        </p>
        <p>@Html.ActionLink("Learn More!", "About", "Home") </p>
        <p>@Html.ActionLink("Create an Account or Login", "Login", "Account") </p>

        <div class="form-horizontal">
            <hr />
            <h4>Search</h4>            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input id="button" type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>    
}