@model ECommerce.Models.Search

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="jumbotron">
        <h1>E-Comm!</h1>
        <p class="lead">Shopping, Finance, Trading, EVERTHING!! </p>
        <p>@Html.ActionLink("Learn More!", "About", "Home") </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                By creating an account with E-Comm you will be opening up a world of trading, shopping and financial opportunity.
            </p>
            <p>@Html.ActionLink("Create an Account or Login", "Login", "Account") </p>
        </div>
        <div class="col-md-4">
            <div class="form-horizontal">
                <h4>Search</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                   
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input id="button" type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />

    </div>  
}